.logoContainer{
    margin-top:1em;
}

.logoContainer img{
    width: 30%;
    margin: auto;
    display: block   
}

.logoContainer p{
    text-align: center;
    font-size: large;
    margin: 0;

}

.switchForm{
    padding: 1em;
}
